<head>
<style>
.centered-div {
    width: 60%;
    height: 60%;
    background-color: black;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
</style>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="color:white;background-color:black;">
<div class="centered-div">
    <form method="POST" enctype='multipart/form-data'>
        <label class="control-label">Upload PDF</label>
        <input name="pdf_file" id="pdf_file" type="file" data-allowed-file-extensions='["pdf"]' class="file">
        OR
        <div class="form-group">
            <label for="inputlg">Enter title/author</label>
            <input class="form-control input-lg" id="inputlg" type="text">
        </div>        
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
