/* Journal Home Page Background */
.homepage #header {
    background-image: url(/site/resource/formod_header.jpg);
    height: 97px;
}


/* Journal Home Page Title */
.homepage #header h1#page_title {
    background-image: url(/site/resource/formod_title.jpg);
    margin-top: 34px;
    width: 561px;
    height: 44px;

}


/* Journal Content Page Background */
.hw-gen-page #header {
    background-image: url(/site/resource/formod_header.jpg);
    width: 960px;
    height: 97px;
}



/* Journal Content Page Title */
.hw-gen-page #header h1#page_title {
    background-image: url(/site/resource/formod_title.jpg);
    margin-top: 34px;
    height: 44px;
    width:  561px;
}


/* Journal Title */
.hw-gen-page #header h1#page_title a {
    display: block;
    height: 44px;
    width: 561px;
}
